@font-face
{
    font-family: FontBold;
    src: url(assets/font-bold.otf);

}

@font-face
{
    font-family: FontLight;
    src: url(assets/font-light.otf);
}


body {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    font-family: "FontLight";
}

.project {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    margin: 10px;
}

@media only screen and (max-width: 480px) {
    .project {
        width: 100%;
        margin: 0px;
    }
}

h1, h2, h3, h4, h5 {
    font-family: "FontBold";
}

.profile {
    border-radius: 50%;
    height: 40vmin;
    min-height: 100px;
    max-height: 200px;
    margin-bottom: .5rem;
}

p {
    margin: 0.5em;
}

.navbar {
    margin: -20px;
    margin-bottom: 20px;
}

.title-fade-out {
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 1s;
}

.title-fade-in {
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}